body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #ffdbf4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}


h1 {
    text-align: center;
    margin-top: 0;
    color: #f826b9;
    font-weight: 800;
}

a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    background: #f826b9;
    padding: 10px 18px;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
}

a:hover {
    background: #f826b9;
}

form label {
    font-weight: bold;
    color: #f826b9;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    border-radius: 10px;
    border: 2px solid #f826b9;
    background: #faf7ff;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #f826b9;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f826b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background: #f826b9;
    color: white;
    padding: 12px;
    font-size: 16px;
}

td {
    padding: 12px;
    background: #f5e9ff;
    border-bottom: 3px solid white;
    font-size: 15px;
}

tr:hover td {
    background: #ecd9ff;
}

.urgente {
    color: #c90000;
    font-weight: bold;
    background: #ffd2d2 !important;
}
